<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List of Books</title>
  <link href="/static/main.css" type="text/css" rel="stylesheet">
</head>
<body>

<div id="login-form-wrapper">
  <form id="login-form" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" required>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required>

    <button id="login-button">Log in</button>
  </form>
</div>

<br>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Author</th>
    <th>Actions</th>
  </tr>

  {% for book in books %}
    <tr>
      <td>{{ book.id }}</td>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td><button data-id="{{book.id}}" class="delete-button">Delete</button></td>
    </tr>
  {% endfor %}
</table>

<hr>

<form id="create-form" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" required>

  <label for="author">Author: </label>
  <input type="text" name="author" id="author" required>

  <button id="create-button">Create</button>
</form>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
<script src="/static/app.js"></script>
</body>
</html>